{% extends 'base.html'%}



{% block content %}



<h4> Create a new post: </h4>

<form action=""method="post">
    {{form.csrf_token}}
    <div class="form-group">
        <fieldset>
            {{form.title.label}}
            {{form.title(class='form-control', placeholder='Tite') }}
        </fieldset>
        <fieldset>
            {{form.body.label}}
            {{form.body(class='form-control', placeholder='Body') }}
        </fieldset>
        <!--submit button-->
            {{form.submit(class='btn btn-primary')}}
        
    </div>
</form>

{% endblock %}